<h1>New Links</h1>

<%= simple_form_for @link do |f| %>
  <%= f.input :title %>
  <%= f.input :url %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>

<%= link_to "Back", root_path , class: "btn btn-primary"%>