<nav class="navbar-default">
 <div class="container">
  <div class="navbar-header">
   <%= link_to "Hackernews", root_path, class: "navbar-brand"%>
  </div>
  <ul class="nav navbar-nav navbar-right">
   <% if user_signed_in? %>
    <li><%= link_to "New link", new_link_path%></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
   <% else %>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <li><%= link_to "Sign In", new_user_session_path %></li>
   <% end %> 
  </ul>
 </div>
</nav>